In [1]:
import seaborn as sns

## 0

In [2]:
mpg = sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [3]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [4]:
mpg.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [5]:
mpg['horsepower'].fillna(mpg['horsepower'].mean(), inplace=True)
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [6]:
mpg.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.199187,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,76.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,95.000000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,125.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [7]:
mpg = mpg.drop(["model_year", "name", "origin"], axis=1)
mpg.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

In [8]:
mpg.shape

(398, 6)

In [9]:
number_of_samples, number_of_features = mpg.shape[0], mpg.shape[1]-1

print(f"Sample size={number_of_samples}")
print(f"Number of features = {number_of_features}")

Sample size=398
Number of features = 5

In [10]:
# Create my X and y 
X, y = mpg.drop('mpg', axis=1), mpg['mpg']

In [11]:
X.head()

   cylinders  displacement  horsepower  weight  acceleration
0          8         307.0       130.0    3504          12.0
1          8         350.0       165.0    3693          11.5
2          8         318.0       150.0    3436          11.0
3          8         304.0       150.0    3433          12.0
4          8         302.0       140.0    3449          10.5

In [12]:
y.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

1. Train|Test split

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((318, 5), (80, 5), (318,), (80,))

In [58]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error, mean_squared_error

def training_for_mpg(X_train: pd.DataFrame, X_test: pd.DataFrame, y_train: pd.DataFrame, y_test: pd.DataFrame, model: linear_model):
    scaler = MinMaxScaler()
    scaler.fit(X_train)
    
    scaled_X_train = scaler.transform(X_train)
    scaled_X_test = scaler.transform(X_test)
    
    model.fit(scaled_X_train, y_train)
    y_pred = model.predict(scaled_X_test)
  
    mae= mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    print(f"Parameters {model.coef_}") 
    print(f"Intercept {model.intercept_}") 
    print(f"{mae=:.4f} \t\t {mse=:.4f} \t {rmse=:.4f}")
    
    if len(y_test) <= 5 :
        print(f"predicted y value = {y_pred}")

training_for_mpg(X_train, X_test, y_train,y_test, model=linear_model.LinearRegression())

Parameters [ -0.97003273  -2.46733483  -7.4250981  -18.41380004  -0.58850566]
Intercept 34.59384032103485
mae=3.1175 		 mse=14.6673 	 rmse=3.8298

In [49]:
training_for_mpg(X_train, X_test, y_train,y_test, model=linear_model.SGDRegressor())

Parameters [ -2.39233325  -6.58866261  -2.70880694 -13.92392105   2.91000375]
Intercept [31.74803286]
mae=3.1319 		 mse=14.9128 	 rmse=3.8617

In [59]:
test_1_sample = X_test[:5]
test_1_sample

     cylinders  displacement  horsepower  weight  acceleration
198          4          91.0        53.0    1795          17.4
396          4         120.0        79.0    2625          18.6
33           6         232.0       100.0    2634          13.0
208          8         318.0       150.0    3940          13.2
93           8         318.0       150.0    4237          14.5

In [60]:
test_1_y = y_test[:5]
test_1_y

198    33.0
396    28.0
33     19.0
208    13.0
93     14.0
Name: mpg, dtype: float64

In [61]:
training_for_mpg(X_train=X_train, X_test=test_1_sample, y_train=y_train, y_test=test_1_y, model=linear_model.LinearRegression())

Parameters [ -0.97003273  -2.46733483  -7.4250981  -18.41380004  -0.58850566]
Intercept 34.59384032103485
mae=2.0178 		 mse=9.0884 	 rmse=3.0147
predicted y value = [32.68335883 27.04465307 25.22065961 15.38491509 13.78879513]